# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.db-journal
*.db-shm
*.db-wal

# IDE / Editor folders
.vscode/
.idea/

# Generated local assets
tags/
*.png
